<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pilas-engine Backend</title>

      <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">

    <style>
      .content {
        padding: 2em;
        text-align: center;
      }

      .panel {
        padding: 1em;
      }

      p {
        line-height: 1.6;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 1.125em;
      }


      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 1em;
      }
    </style>
  </head>
  <body>

    <div class='content'>
      {% load static %}

      <p>
        Este es el servidor de guardado y publicación de juegos de
        <a href="htts://www.pilas-engine.com.ar" target="_blank">pilas-engine</a>
      </p>

      <p>
        Necesitas una URL con un identificador de juego para acceder
        a esta web correctamente.
      </p>

    </div>
  </body>
</html>
