[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
django = "3.1.14"
dj-static = "*"
dj-database-url = "*"
ipdb = "*"
"psycopg2-binary" = "*"
watchdog = "*"
honcho = "*"
gunicorn = "*"
"flake8" = "*"
"flake8-colors" = "*"
django-cors-headers = "*"
djangorestframework-jsonapi = "*"
djangorestframework = "*"
sqlparse = "0.4.2"
pygments = "2.7.4"

[requires]
python_version = "3"
