[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
dj-static = "*"
dj-database-url = "*"
ipdb = "*"
pprint = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
watchdog = "*"
honcho = "*"
gunicorn = "*"
"flake8" = "*"
"flake8-colors" = "*"
django-cors-headers = "*"
djangorestframework-jsonapi = "*"
djangorestframework = "*"


[requires]

python_version = "3.6"
